.circle-ripple {
  background-color: rgba(0,0,0,0.2);
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  animation: ripple 0.8s linear infinite;
  position: absolute;
  top: 40%;
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(245, 245, 245, 0.6), 0 0 0 0.3em rgba(0,0,0,0.2);
 }
  100% {
    box-shadow: 0 0 0 0.5em rgba(245, 245, 245, 0.6), 0 0 0 1em rgba(0,0,0,0.2);
 }
}
.circle-ripple-two {
  background-color: rgba(0,0,0,0.2);
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  animation: ripple-two 0.8s linear infinite;
  position: absolute;
  top: 80%;
}
@keyframes ripple-two {
  0% {
    box-shadow: 0 0 0 0 rgba(245, 245, 245, 0.6), 0 0 0 0.3em rgba(0,0,0,0.2);
 }
  100% {
    box-shadow: 0 0 0 0.5em rgba(245, 245, 245, 0.6), 0 0 0 1em rgba(0,0,0,0.2);
 }
}
